{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="{% static 'summarynotes/index.css'%}">
</head>

<body>
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h2>Summary Page</h2>
            <a type="button" class="btn btn-link" href="{% url 'vrform'%}">Enter your Summary</a>
        </div>
        {% for v in notes %}
        <div class="page-header">
            <h1 class="text-capitalize text-center">{{ v.title}}</h1>
        <div class="well">
          <p class="text-capitalize">{{ v.comment}}</p>
          <cite class="text-right">
            Date Added:{{  v.date_added}}
          </cite>
          <p class="text-right">{{ v.author}}.</p>

        </div>

        {% endfor %}
        </div>
    </div>
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XVDREBP63B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XVDREBP63B');
</script>
</html>